<?xml version="1.0"?>
<testsuites>
    <testsuite name="all">
        <directory>PrestaShop</directory>
    </testsuite>
    <testsuite name="unit">
        <directory>Unit/PrestaShop</directory>
    </testsuite>
    <testsuite name="integration">
        <directory>Integration/PrestaShop</directory>
    </testsuite>
</testsuites>
