<?xml version="1.0"?>
<testsuites>
    <testsuite name="all">
        <directory>PrestaShop</directory>
    </testsuite>
    <testsuite name="unit">
        <directory>Unit/PrestaShop</directory>
    </testsuite>
    <testsuite name="integration">
        <file>Integration/PrestaShop/InvoiceCreateTest.php</file>
        <file>Integration/PrestaShop/Shop/AcumulusEntryManagerTest.php</file>
    </testsuite>
    <testsuite name="integration8">
        <directory>Integration/PrestaShop/PrestaShop8</directory>
    </testsuite>
</testsuites>
