<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>acumulus</name>
	<displayName><![CDATA[Acumulus]]></displayName>
	<version><![CDATA[4.0.0-alpha1]]></version>
	<description><![CDATA[Acumulus connection]]></description>
	<author><![CDATA[Acumulus]]></author>
	<tab><![CDATA[billing_invoicing]]></tab>
	<confirmUninstall><![CDATA[Are you sure to delete the configuration settings?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
